.back {
  background-image: url("./back.png");
  background-repeat: no-repeat !important;
  background-attachment: scroll;/*ou scroll*/
  display: flex;
  flex-direction: column;
  background-size: cover;
  border: none;
}
