a {
  color: #fff;
  text-decoration: none;
}

.p-menu1 {
  height: 100%;
}

/* Hamburger */
.hamburger1 {
  height: 45px;
  margin: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: left;
  z-index: 120;
}

.hamburger1 div {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ .menu1 {
  height: 340px;
}

/* Menu */
.menu1 {
  min-width: 100vh;
  background-color: #461264;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr repeat(4, 0.5fr);
  grid-row-gap: 15px;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu1 a:first-child {
  margin-top: 30px;
}

.menu1 a:last-child {
  margin-bottom: 40px;
}

.link1 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font: 700 20px "Oswald", sans-serif;
  color: #fff;
}

.link1:hover {
  background-color: #fff;
  color: rgb(61, 61, 61);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1325px) {
  /* Styles pour aligner les boutons en haut de la page */
  .button-container {
    display: flex;
    position: fixed; /*ou absolute à voir*/
    align-items: center;
    transform: translateX(-50%);
    top: 0;
    margin-top: 15px;
    z-index: 999; /* Assurez-vous que le bouton est au premier plan */
  }

  .custom-button1,
  .custom-button2,
  .custom-button3,
  .custom-button4,
  .custom-button5 {
    background-color: #ff00ff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    padding: 20px 60px; /* Remplissage (taille) */
    border: none; /* Supprimer la bordure */
    cursor: pointer; /* Curseur de type main (pointeur) */
    margin-right: 40px;
    font-size: 20px;
  }

  /* Pas d'espace entre le sélecteur et les pseudo-classes :hover, :active, :focus */
  .custom-button1:hover,
  .custom-button2:hover,
  .custom-button3:hover,
  .custom-button4:hover,
  .custom-button5:hover {
    /* Couleur de fond au survol */
    background-color: #ff00aa;
  }

  .custom-button1:active,
  .custom-button2:active,
  .custom-button3:active,
  .custom-button4:active,
  .custom-button5:active {
    background-color: #ae00ff; /* Couleur de fond au clic */
    transform: translateY(2px); /* Décalage de 4px vers le bas */
  }

  .custom-button1:focus,
  .custom-button2:focus,
  .custom-button3:focus,
  .custom-button4:focus,
  .custom-button5:focus {
    outline: none; /* Supprimer la bordure bleue */
  }

  /*arrondir les coins du bouton*/
  .custom-button1,
  .custom-button2,
  .custom-button3,
  .custom-button4,
  .custom-button5 {
    border-radius: 40px;
  }
}
