.page5-container {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
  min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
}
.containe5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title5 {
  /*Titre en haut de la page et centrer et en blanc / */
  font-family: "Lastica", sans-serif;
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
  justify-content: center;
}

.image55 {
  margin-bottom: 70px;
  justify-content: center;
  min-width: 100vh;
}

@media (min-width: 1325px) {
  .page5-container {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
    padding: 0px;
    min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
  }

  .title5 {
    /*Titre en haut de la page et centrer et en blanc / */
    font-family: "Lastica", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
  }

  .image55 {
    margin-bottom: 70px;
  }
  .containe5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
