.page9-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  min-height: 100vh;
}
.container99 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.tete3 {

  font-family: "Lastica", sans-serif;
  margin-bottom: 150px;
  transform: translateY(90%);
  color: #fff;
  text-align: center;
  font-size: 35px;
}

.gmap_canvas {
  display: flex;
  justify-content: center;
  transform: translateY(-20%);
  margin-top: 90px;
  max-width: 90vh;
  height: 100%;
}
