.page12-container {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
  padding: 0px;
  min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
}

.en-tete1 {
  /*Titre en haut de la page et centrer et en blanc / */
  /*couleur de texte blanc */
  color: #fff;
  font-family: "Lastica", sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 0px;
  transform: translateY(-0%);
}

.logo-container1 {
  display: flex;
  flex-direction: row; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
}

.logo4 {
  margin: 60px 100px 30px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo5 {
  display: none;
}
@media (min-width: 1325px) {
  .page12-container {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
    padding: 0px;
    min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
  }

  .en-tete1 {
    /*Titre en haut de la page et centrer et en blanc / */
    /*couleur de texte blanc */
    color: #fff;
    font-family: "Lastica", sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    transform: translateY(45%);
  }

  .logo-container1 {
    display: flex;
    flex-direction: row; /* Pour empiler les éléments verticalement */
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
  }

  .logo4 {
    margin: 60px 0px 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo5 {
    margin: 60px 0px 30px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
