.page1-container {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
  min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre et que les éléments ne débordent pas */
  padding: 0px;
}

/* Caractéristiques du logo */
.logo {
  width: 399px;
  height: 500px;
  position: relative;
  max-height: 100%;
}

.text {
  font-family: "Lastica", sans-serif;
  color: #fff;
  font-size: 70px;
  text-align: center;

  /*font-family: "TT Interphrases", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 25px;
  transform: translateY(-150px);*/
}

.container {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
  max-height: 100%;
}

@media (min-width: 1325px) {
  .page1-container {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
    padding: 0px;
    min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
  }

  /* Caractéristiques du logo */
  .logo {
    width: 450px;
    height: 550px;
    right: 0%;
    position: relative;
  }

  .text {
    font-family: "Lastica", sans-serif;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    text-align: center;
    left: -10%;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
  }
}
