.page7-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  min-height: 100vh;
}

.container7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.tete7 {

  font-family: "Lastica", sans-serif;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #fff;
  font-size: 25px;
}

.pa7 {
  font-family: "Lastica", sans-serif;
  color: #fff;
  align-items: center;
  font-size: 60px;
  margin-bottom: 20px;
}

.coming1 {
  left: 0%;
}

@media (min-width: 1325px) {
  .page7-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    min-height: 100vh;
  }

  .container7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .tete7 {
  
    font-family: "Lastica", sans-serif;
    position: relative;
    margin-bottom: 160px;
    color: #fff;
    font-size: 25px;
  }

  .pa7 {
    font-family: "Lastica", sans-serif;
    color: #fff;
    left: -20%;
    transform: translate(-90%, -200%);
    position: relative;
    font-size: 60px;
  }

  .coming1 {
    left: 0%;
  }
}
