.page4-container {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  justify-content: center; /* Pour centrer verticalement */
  align-items: center; /* Pour centrer horizontalement */
  min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
  padding: 0px;
}

.en-tete {
  /*Titre en haut de la page et centrer et en blanc / */
  /*couleur de texte blanc */
  color: #fff;
  font-family: "Lastica", sans-serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.container-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container41 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-5%);
  margin-bottom: 40px;
}
.container42 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-5%);
  margin-bottom: 40px;
}
.container43 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-5%);
  margin-bottom: 40px;
}

.logo1,
.logo2,
.logo3 {
  margin: 0px 100px 50px 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraphe1 {
  font-family: "TT Interphrases", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  transform: translateX(15%);
}

.paragraphe3 {
  font-family: "TT Interphrases", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  transform: translateX(15%);
}

.paragraphe2 {
  font-family: "TT Interphrases", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 15px;
  transform: translate(15%, 0%);
}

@media (min-width: 1325px) {
  .page4-container {
    display: flex;
    flex-direction: column; /* Pour empiler les éléments verticalement */
    justify-content: center; /* Pour centrer verticalement */
    align-items: center; /* Pour centrer horizontalement */
    min-height: 100vh; /* Pour que le conteneur prenne toute la hauteur de la fenêtre */
    padding: 0px;
  }

  .en-tete {
    /*Titre en haut de la page et centrer et en blanc / */
    /*couleur de texte blanc */
    color: #fff;
    font-family: "Lastica", sans-serif;
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
  }

  .container-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-3%);
  }

  .container41 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container42 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container43 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo1 {
    margin: 0px 60px 50px 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo3 {
    margin: 0px 60px 50px 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo2 {
    margin: 20px 60px 50px 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragraphe1 {
    font-family: "TT Interphrases", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin-bottom: 55px;
    transform: translateX(15%);
  }

  .paragraphe3 {
    font-family: "TT Interphrases", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 13px;
    transform: translateX(15%);
  }

  .paragraphe2 {
    font-family: "TT Interphrases", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 13px;
    transform: translate(15%, 0%);
  }
}
