/* Footer.css */
.footer1 {
  color: #fff;
  text-align: center;
  padding: 0px;
  position: relative;
  bottom: 0;
  max-width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  font-size: 24px;
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}
@media (min-width: 1325px) {
  .footer1 {
    color: #fff;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    max-width: 200vh;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .social-icons a {
    font-size: 24px;
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
  }
}
