/* Style pour le corps de la page */
body {
  font-family: "TT Interphrases", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff; /* Couleur de texte */
}
/* Style pour les éléments de code */
code {
  font-family: "Lastica", monospace;
  color: #fff; /* Couleur de texte pour le code */
}

/* Style pour les titres h1 et h2 */
h1,
h2 {
  font-family: "Lastica", sans-serif;
  color: #fff; /* Couleur de texte pour les titres */
}

/* Style pour les paragraphes p */
p {
  font-family: "TT Interphrases", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  color: #fff; /* Couleur de texte pour les paragraphes */
}
