
body {
  font-family: "TT Interphrases", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #fff;
}

code {
  font-family: "Lastica", monospace;
  color: #fff;
}


h1,
h2 {
  font-family: "Lastica", sans-serif;
  color: #fff;
}


p {
  font-family: "TT Interphrases", sans-serif;
  font-size: 21px;
  line-height: 1.5;
  color: #fff;
}
